@model System.Data.Entity.DbSet<BestStore.Models.PRODUCT>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>


<body>

    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Checkout Page</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- checkout -->
    <div class="checkout">

        <div class="container">
            <h3 class="animated wow slideInLeft" data-wow-delay=".5s">
                Your shopping cart contains:
            </h3>
            <div class="animated wow slideInUp" data-wow-delay=".5s">


                <div class="simpleCart_items"></div>
                <ngcart-cart></ngcart-cart>
            </div>
            <div class="col-lg-offset-11">
            <div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xs-4">
                
                <md-button class="md-primary md-raised" ng-click="showConfirm($event)">
                    <ngcart-checkout service="log">Checkout</ngcart-checkout>
                </md-button>
            </div>

        </div>
    </div>
</div></div>
            
        </div>
        
    </div>
</body>
</html>
